{% if sorties|length > 0 %}
    {% for sortie in sorties %}
        <div class="col-12 col-lg-6 col-xl-3 d-flex align-items-stretch">
            <div class="card mb-3">
                <div class="height100">
                    {% if sortie.id is divisible by (2) %}
                        <img class="card-img-top image_details" src="{{ asset("images/thabor.jpg") }}"
                             alt="Card image cap">
                    {% else %}
                        <img class="card-img-top image_details" src="{{ asset("images/thabor2.jpg") }}"
                             alt="Card image cap">
                    {% endif %}
                </div>

                <div class="card-body">
                    <h5 class="card-title">{{ sortie.nom }}</h5>
                    <p class="card-text">{{ sortie.infosSortie|striptags|slice(0,50) }}
                        {% if sortie.infosSortie|length > 50 %}
                            [...]
                        {% endif %}
                        <br>
                        Inscrits : {{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}
                        <br>
                        À {{ sortie.Lieu.Ville.Nom }} le {{ sortie.dateHeureDebut|date("d/m/Y") }}
                    </p>

                </div>
                <a href="{{ path('page_details_sortie', {'id' : sortie.id, 'pageNumber' : pageNumber}) }}"
                   class="btn btn-secondary">Plus d'informations</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h5>Aucune sortie.</h5>
{% endif %}

<a href="{{ path('page_formulaire_sortie', {'id' : -1, 'groupe': groupe.getId()}) }}">
    <button type="button" class="btn btn-primary btn_modifier">Ajouter une sortie</button>
</a>