{% extends 'base.html.twig' %}


{% block body %}


    {{ form_start(form) }}
    {% embed './admin/_register_form.html.twig' %}
        {% block informations %}

            {% for field in form.participant %}
                <div class="col-sm-4">
                    <p class="m-b-10 f-w-600">{{ field.vars.label }}</p>
                    <h6 class="text-muted f-w-400">{{ form_widget(field, {"attr": {"class": "form-control"}}) }}</h6>
                </div>
            {% endfor %}

            <div class="col-sm-12">
                &nbsp;
            </div>

            {% for field in form.user %}
                <div class="col-sm-4">
                    <p class="m-b-10 f-w-600">{{ field.vars.label }}</p>
                    <h6 class="text-muted f-w-400">{{ form_widget(field, {"attr": {"class": "form-control"}}) }}</h6>
                </div>
            {% endfor %}

        {% endblock %}


        {% block actions %}
            <div class="col-sm-12">
                {{ form_widget(form.enregistrer) }}
            </div>
        {% endblock %}

    {% endembed %}
    {{ form_end(form) }}


{% endblock %}