{% extends('base.html.twig') %}
{% block body %}
    <div class="container-fluid">
        <a href="{{ path('page_sortie', {'pageNumber' : pageNumber}) }}"
           class="btn btn-primary m-2">Retourner à la liste des sorties</a>
        <div class="card mb-3 mt-2">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if sortie.urlPhoto|length > 0 %}
                        <img class="card-img-top image_details" src="{{ asset("uploads/urlphoto/") ~ sortie.urlPhoto }}"
                             alt="Card image cap">
                    {% else %}
                        <img class="card-img-top image_details" src="{{ asset("images/pas_image_disponible.png") }}"
                             alt="Card image cap">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ title }} {{ nom }}</h5>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-6">
                                    <p>Date et Heure de la sortie : {{ dateHeure }}</p>
                                    <p>Duree : {{ sortie.duree }} minutes</p>
                                    <p>Date limite d'inscription : {{ dateLimite }}</p>
                                    <p>Nombre de place : {{ sortie.nbInscriptionMax }}</p>
                                    <p>Descriptions et infos : {{ sortie.infosSortie }}</p>
                                </div>
                                <div class="col-6">
                                    <p>Lieu : {{ lieu.nom }}</p>
                                    <p>Rue : {{ lieu.rue }}</p>
                                    <p>Ville : {{ lieu.ville.codePostal }} {{ lieu.ville.nom }}</p>
                                    <p>Latitude : {{ latitude }}</p>
                                    <p>Longitude : {{ longitude }}</p>
                                </div>
                            </div>
                            <h5>Participants</h5>
                            <table id="datatable_participant">
                                <thead>
                                <tr>
                                    <th class="d-none">ID</th>
                                    <th>Prenom</th>
                                    <th>Nom</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if participants is not empty and participants is not null %}
                                    {% for participant in participants %}
                                        <tr>
                                            <td class="d-none">{{ app.user.participant.id }}</td>
                                            <td>{{ participant.prenom }}</td>
                                            <td>{{ participant.nom }}</td>
                                            {% if participant.id == userActuel.id %}
                                                <td class="d-flex flex-row-reverse">
                                                    <a href="{{ path('profile_view') }}"
                                                       type="button" class="btn btn-primary btn_modifier mr-2">
                                                        <i class="fas fa-user-circle"></i> Voir mon profil
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td class="d-flex flex-row-reverse">
                                                    <a href="{{ path('profile_view', {'id' : tUserParticipant[participant.id]}) }}"
                                                       type="button" class="btn btn-primary btn_modifier mr-2">
                                                        <i class="fas fa-user-circle"></i> Voir le profil
                                                    </a>
                                                </td>
                                            {% endif %}

                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">Il n'y a pas de participants</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                        </div>
                        <div class="card-text d-flex justify-content-between mt-3">
                            {% if peutSinscrire %}
                                <form action="{{ path('page_inscription_sortie', {'id' : sortie.id}) }}"
                                      method="post" class="mr-2">
                                    <input type="hidden" value="{{ app.user.participant.id }}"
                                           name="idParticipant">
                                    <button type="submit"
                                            class="btn btn-secondary">S'inscrire
                                    </button>
                                </form>
                            {% endif %}
                            {% if peutSeDesinscrire %}
                                <form action="{{ path('page_desinscription_sortie', {'id' : sortie.id}) }}"
                                      method="post"
                                      class="ml-2">
                                    <input type="hidden" value="{{ app.user.participant.id }}" name="idParticipant">
                                    <button type="submit"
                                            class="btn btn-danger">Se désinscrire
                                    </button>
                                </form>
                            {% endif %}
                            {% if peutAnnuler %}

                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form">
                                    Annuler la sorie
                                </button>

                                <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="annulationModale" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-bottom-0">
                                                <h5 class="modal-title" id="annulationModale">Suppression de la sortie</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form action="{{ path('page_annulation_sortie', {'id' : sortie.id}) }}"
                                                  method="post"
                                                  class="ml-2">
                                                <div class="modal-body">
                                                    <label for="motif_annulation">Saisissez un message d'annulation</label>
                                                    <div class="form-group">
                                                        <textarea required class="form-control" id="motif_annulation" name="motifAnnulation"></textarea>
                                                    </div>
                                                    <input type="hidden" value="{{ app.user.participant.id }}" name="idParticipant">
                                                </div>
                                                <div class="modal-footer border-top-0 d-flex justify-content-center">
                                                    <button type="submit" class="btn btn-danger">Annuler la sortie</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if peutPublier %}
                                <form action="{{ path('page_publication_sortie', {'id' : sortie.id}) }}"
                                      method="post"
                                      class="ml-2">
                                    <input type="hidden" value="{{ app.user.participant.id }}" name="idParticipant">
                                    <button type="submit"
                                            class="btn btn-primary">Publier
                                    </button>
                                </form>
                            {% endif %}
                            {% if peutModifier %}
                                <form action="{{ path('page_formulaire_sortie', {'id' : sortie.id}) }}"
                                      method="post"
                                      class="ml-2">
                                    <input type="hidden" value="{{ app.user.participant.id }}" name="idParticipant">
                                    <button type="submit"
                                            class="btn btn-primary">Modifier
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12" style="height:300px; padding:0">
            <div style="" id="map"></div>
        </div>
        <script>
            var map = L.map('map').setView([{{ sortie.lieu.latitude }}, {{ sortie.lieu.longitude }}], 15);
            L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=yn4AvBK0PIrhfTz3GmKm',{
                tileSize: 512,
                zoomOffset: -1,
                minZoom: 1,
                attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
                crossOrigin: true
            }).addTo(map);
            var marker = L.marker([{{ sortie.lieu.latitude }}, {{ sortie.lieu.longitude }}]).addTo(map);
        </script>
    </div>
    <script>
        $datatable = $("#datatable_participant").DataTable();
    </script>
{% endblock %}