{% extends('base.html.twig') %}
{% block body %}
    <div class="container-fluid">
        <a href="{{ path('page_sortie', {'id' : sortie.id}) }}"
           class="btn btn-primary m-2">Retourner à la liste des sorties</a>
        <div class="card mb-3 mt-5">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if sortie.id is divisible by (2) %}
                        <img class="card-img image_details" src="{{ asset("images/thabor.jpg") }}" alt="Card image cap">
                    {% else %}
                        <img class="card-img image_details" src="{{ asset("images/thabor2.jpg") }}"
                             alt="Card image cap">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ title }} {{ nom }}</h5>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-6">
                                    <p>Date et Heure de la sortie : {{ dateHeure }}</p>
                                    <p>Duree : {{ sortie.duree }} minutes</p>
                                    <p>Date limite d'inscription : {{ dateLimite }}</p>
                                    <p>Nombre de place : {{ sortie.nbInscriptionMax }}</p>
                                    <p>Descriptions et infos : {{ sortie.infosSortie }}</p>
                                </div>
                                <div class="col-6">
                                    <p>Lieu : {{ lieu.nom }}</p>
                                    <p>Rue : {{ lieu.rue }}</p>
                                    <p>Ville : {{ lieu.ville.codePostal }} {{ lieu.ville.nom }}</p>
                                    <p>Latitude : {{ latitude }}</p>
                                    <p>Longitude : {{ longitude }}</p>
                                </div>
                            </div>
                            <h5>Participants</h5>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Prenom</th>
                                    <th scope="col">Nom</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if participants is not empty and participants is not null %}
                                    {% for participant in participants %}
                                        <tr>
                                            <td>{{ participant.prenom }}</td>
                                            <td>{{ participant.nom }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">Il n'y a pas de participants</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-text d-flex justify-content-between">
                            {% if tIdParticipants is empty %}
                                <form action="{{ path('page_inscription_sortie', {'id' : sortie.id}) }}"
                                      method="post" class="mr-2">
                                    <input type="hidden" value="{{ app.user.participant.id }}"
                                           name="idParticipant">
                                    <button id="inscription_sortie" type="submit"
                                            class="btn btn-secondary">S'inscrire
                                    </button>
                                </form>
                            {% endif %}
                            {% for idParticipant in tIdParticipants %}
                                {% if participants|length < sortie.nbInscriptionMax and date(sortie.dateLimiteInscription) > date()
                                    and app.user.participant.id not in idParticipant and date(sortie.dateHeureDebut) > date() %}

                                    <form action="{{ path('page_inscription_sortie', {'id' : sortie.id}) }}"
                                          method="post" class="mr-2">
                                        <input type="hidden" value="{{ app.user.participant.id }}"
                                               name="idParticipant">
                                        <button id="inscription_sortie" type="submit"
                                                class="btn btn-secondary">S'inscrire
                                        </button>
                                    </form>
                                {% endif %}
                                {% if app.user.participant.id in idParticipant %}
                                    <form action="{{ path('page_desinscription_sortie', {'id' : sortie.id}) }}"
                                          method="post"
                                          class="ml-2">
                                        <input type="hidden" value="{{ app.user.participant.id }}" name="idParticipant">
                                        <button id="desinscription_sortie" type="submit"
                                                class="btn btn-danger">Se désinscrire
                                        </button>
                                    </form>
                                {% endif %}
                            {% endfor %}
                            {% if app.user.participant.id == sortie.organisateur.id and date(sortie.dateHeureDebut) > date()%}
                                <form action="{{ path('page_annulation_sortie', {'id' : sortie.id}) }}"
                                      method="post"
                                      class="ml-2">
                                    <input type="hidden" value="{{ app.user.participant.id }}" name="idParticipant">
                                    <button id="annuler_sortie" type="submit"
                                            class="btn btn-danger">Annuler
                                    </button>
                                </form>
                            {% endif %}
                            <a href="{{ path('page_formulaire_sortie', {'id' : sortie.id}) }}"
                               class="btn btn-primary ml-2">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}