{% extends('base.html.twig') %}
{% block body %}
    <div class="container-fluid">
        <div class="card mb-3 mt-5">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if sortie.id is divisible by (2) %}
                        <img class="card-img image_details" src="{{ asset("images/thabor.jpg") }}" alt="Card image cap">
                    {% else %}
                        <img class="card-im image_details" src="{{ asset("images/thabor2.jpg") }}" alt="Card image cap">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ title }} {{ nom }}</h5>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-6">
                                    <p>Date et Heure de la sortie : <span>{{ dateHeure }}</span></p>
                                    <p>Duree : {{ sortie.duree }} minutes</p>
                                    <p>Date limite d'inscription : <span>{{ dateLimite }}</span></p>
                                    <p>Nombre de place : {{ sortie.nbInscriptionMax }}</p>
                                    <p>Descriptions et infos : {{ sortie.infosSortie }}</p>
                                </div>
                                <div class="col-6">
                                    <p>Lieu : <span>{{ lieu.nom }}</span></p>
                                    <p>Rue : {{ lieu.rue }}</p>
                                    <p>Ville : {{ lieu.ville.codePostal }} {{ lieu.ville.nom }}</p>
                                    <p>Latitude : {{ latitude }}</p>
                                    <p>Longitude : {{ longitude }}</p>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                            <a href="{{ path('page_inscription_sortie', {'id' : sortie.id}) }}"
                               class="btn btn-secondary">S'inscrire</a>
                            <a href="{{ path('page_modifier_sortie', {'id' : sortie.id}) }}" class="btn btn-danger">Modifier</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}