{% extends('base.html.twig') %}

{% block body %}

    <div class="container">
        <h1>{{ title }}</h1>

        <button type="button" class="btn btn-primary mb-3" data-toggle="collapse" data-target="#filtres">Afficher les filtres</button>
        <div id="filtres" class="collapse">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        {% if sorties|length == 0 %}
        <div class="row mt-3">
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Aucune sortie</h5>
                        <p class="card-text">
                            Il n'y a pas de sortie sur ce site avec ces filtres
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row mt-3">
            <!--<div class="card-columns align-items-stretch">-->
        {% for sortie in sorties %}
            <div class="col-sm-3 d-flex align-items-stretch">
                    <div class="card">
                        {% if sortie.id is divisible by (2) %}
                            <img class="card-img-top" src="{{ asset("images/thabor.jpg") }}" alt="Card image cap">
                        {% else %}
                            <img class="card-img-top" src="{{ asset("images/thabor2.jpg") }}" alt="Card image cap">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">{{ sortie.nom }}</h5>
                            <p class="card-text">{{ sortie.infosSortie|striptags|slice(0,50) }}
                                {% if sortie.infosSortie|length > 50 %}
                                    [...]
                                {% endif %}
                                <br>
                                Inscrits : {{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}
                                <br>
                                À {{ sortie.Lieu.Ville.Nom }} le {{ sortie.dateHeureDebut|date("d/m/Y") }}
                            </p>

                        </div>
                        <a href="{{ path('page_details_sortie', {'id' : sortie.id}) }}" class="btn btn-secondary">Plus d'informations</a>
                    </div>
            </div>
        {% endfor %}
        <!-- </div> -->
        </div>
        <br>
        <a href="{{ path('page_formulaire_sortie', {'id' : -1}) }}" class="btn btn-primary">Créer une nouvelle sortie</a>
    </div>
{% endblock %}