{% extends('base.html.twig') %}

{% block body %}

    <div class="container">

        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary mb-3" data-toggle="collapse" data-target="#filtres">Afficher
                les filtres
            </button>
            {% if not isMobile %}
                <a href="{{ path('page_formulaire_sortie', {'id' : -1}) }}" class="btn btn-primary mb-3">Créer une nouvelle sortie</a>
            {% endif %}
        </div>
        <div id="filtres" class="collapse">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        {% if sorties|length == 0 %}
            <div class="row mt-3">
                <div class="col-sm-3 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Aucune sortie</h5>
                            <p class="card-text">
                                Il n'y a pas de sortie sur ce site avec ces filtres
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row mt-3">
            <!--<div class="card-columns align-items-stretch">-->
            {% for sortie in sorties %}
                <div class="col-12 col-lg-6 col-xl-3 d-flex align-items-stretch">
                    <div class="card mb-3">
                        <div class="height100">
                            {% if sortie.urlPhoto|length > 0 %}
                                <img class="card-img-top image_details" src="{{ asset("uploads/urlphoto/") ~ sortie.urlPhoto }}"
                                     alt="Card image cap">
                            {% else %}
                                <img class="card-img-top image_details" src="{{ asset("images/pas_image_disponible.png") }}"
                                     alt="Card image cap">
                            {% endif %}
                        </div>

                        <div class="card-body bg-light">
                            <h5 class="card-title">
                                {{ sortie.nom }}
                                {% if sortie.getGroupe() %}
                                    ({{ sortie.getGroupe().getLibelle() }})
                                {% endif %}
                            </h5>
                            <p class="card-text">
                                {% if sortie.infosSortie|length > 50 %}
                                    {{ sortie.infosSortie|striptags|slice(0,50) }}[...]
                                {% else %}
                                    {{ sortie.infosSortie }}
                                {% endif %}
                                <br>
                                Inscrits : {{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}
                                <br>
                                À {{ sortie.Lieu.Ville.Nom }} le {{ sortie.dateHeureDebut|date("d/m/Y") }}
                            </p>
                        </div>

                            <a href="" class="btn disabled" style="background-color:{{ couleurs[sortie.etat.libelle] }}; color:#FFFFFF">{{ sortie.etat.libelle }}</a>

                        <a href="{{ path('page_details_sortie', {'id' : sortie.id, 'pageNumber' : pageNumber}) }}" class="btn btn-secondary">Plus d'informations <i class="fas fa-map-marker-alt"></i></a>
                    </div>
                </div>
            {% endfor %}
            <!-- </div> -->
        </div>
        <br>

        <ul class="pagination d-flex justify-content-center">
            {% if pageNumber == 1 %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% else %}
                <li class="page-item"><a href="{{ path('page_sortie', {'pageNumber' : pageNumber-1}) }}"
                                         class="page-link">Previous</a></li>
            {% endif %}

            {% for i in 1..ideaCountPage %}
                {% if i == pageNumber %}
                    <li class="page-item active"><a class="page-link"
                                                    href="{{ path('page_sortie', {'pageNumber' : i}) }}">{{ i }}</a>
                    </li>
                {% else %}
                    {% if (i == 1 or i == 2 or i == ideaCountPage or i == ideaCountPage - 1) %}
                        <li class="page-item"><a href="{{ path('page_sortie', {'pageNumber' : i}) }}"
                                                 class="page-link">{{ i }}</a>
                        </li>
                    {% elseif (i == firstEllipsis or i == secondEllipsis) %}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    {% else %}
                        {% for page in pagesToDisplay %}
                            {% if i == page %}
                                <li class="page-item"><a href="{{ path('page_sortie', {'pageNumber' : i}) }}"
                                                         class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                {% endif %}
            {% endfor %}
            {% if pageNumber == ideaCountPage %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% else %}
                <li class="page-item"><a href="{{ path('page_sortie', {'pageNumber' : pageNumber+1}) }}"
                                         class="page-link">Next</a></li>
            {% endif %}


            <form action="{{ path('page_sortie', {'pageNumber' : pageNumber}) }}" method="post" class="form-inline">
                <label>
                    <select name="ideaPerPage" class="form-control ml-3">
                        <option disabled value="">Select a number</option>
                        {% for i in 1..20 %}
                            {% if i == maxResults %}
                                <option selected value="{{ i }}">{{ i }}</option>
                            {% else %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
                <input type="submit" class="btn btn-primary ml-3" name="Connexion" value="Appliquer">
            </form>
        </ul>
        <br>
        <div class="d-none d-md-block ">

        </div>
    </div>
{% endblock %}