<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/sortir.css') }}">
            <!--bootstrap 4 -->
            <link type="text/css" rel="stylesheet"  href="{{ asset('lib/bootstrap-4/css/bootstrap.css') }}">
            <!-- font-awesome -->
            <link rel="stylesheet" href="{{ asset('lib/fontawesome/css/all.css') }}">
            <!-- jQuery 3.5.1 -->
            <script src="{{ asset('lib/jquery-3.5.1/jquery-3.5.1.min.js') }}"></script>
            <!-- Moment.js (pour tempus dominus)
            <script src="{{ asset('lib/moment/moment.js') }}"></script>
             Tempus dominus
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous" />
            -->
            <!-- Datatable -->
            <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
            <!-- Notify.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <!-- NAVBAR -->
        {% include "navbar.html.twig" %}
        {% include "messages.html.twig" %}

        <div class="container">
            <div class="alert alert-light sortir-box">
                <h1>{{ title }}</h1>
            </div>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <!-- bootstrap 4 -->
            <script src="{{ asset('lib/bootstrap-4/js/bootstrap.min.js')}}"></script>
            <!-- font-awesome -->
            <script src="{{ asset('lib/fontawesome/js/all.js') }}"></script>
        {% endblock %}
    </body>
</html>
