<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('page_sortie') }}">
        <img width="150px" src="{{ asset('images/logo2.svg') }}" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if app.user %}
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{{ path('page_sortie') }}"><i class="fas fa-map-marker-alt mr-2"></i>Sorties</a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog mr-2"></i>Administration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('villes_list') }}"><i class="fas fa-city mr-2 width_22px" ></i>Villes</a>
                        <a class="dropdown-item" href="{{ path('sites_list') }}"><i class="fas fa-map-marked-alt mr-2 width_22px"></i>Sites</a>
                        <a class="dropdown-item" href="{{ path('lieux_list') }}"><i class="fas fa-map-marker-alt mr-2 width_22px"></i>Lieux</a>
                        <a class="dropdown-item" href="{{ path('admin_users_list') }}"><i class="fas fa-users mr-2 width_22px"></i>Liste des utilisateurs</a>
                        <a class="dropdown-item" href="{{ path('admin_users') }}"><i class="fas fa-user-plus mr-2 width_22px"></i>Inscription utilisateur</a>
                        <a class="dropdown-item" href="{{ path('admin_users_import') }}"><i class="fas fa-file-import mr-2 width_22px"></i>Import liste utilisateur</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav user_nav">
            {% if app.user %}
                <li class="nav-item mr-3">
                    <span class="nav-link"><i class="fas fa-user"></i> {{ app.user.username }}</span>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{{ path('profile_view') }}"><i class="fas fa-user-circle mr-2"></i>Mon Profil</a>
                </li>
                <li class="nav-item  mr-3">
                    <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-user-times mr-2"></i>Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt mr-2"></i>Connexion</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>