{% extends('base.html.twig') %}

{% block body %}
    <div class="alert alert-light sortir-box">
        <div class="w-100 d-flex align-items-end justify-content-end mb-3">
            <p></p>
            <a href="{{ path('lieux_form', {'id' : -1}) }}" class="btn btn-secondary btn-round">
                <i class="fas fa-map-marker-alt"></i>
                <span>Ajouter un Lieu</span>
            </a>
        </div>
        <table id="datatable_lieux">
            <thead>
            <tr>
                <th class="d-none">ID</th>
                <th>Nom</th>
                <th>Rue</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for lieu in lieux %}
                <tr>
                    <td class="d-none">{{ lieu.id }}/td>
                    <td>{{ lieu.nom }}</td>
                    <td>{% if lieu.rue %} {{ lieu.rue }} {% else %} - {% endif %}</td>
                    <td>{{ lieu.ville.codePostal }}</td>
                    <td>{{ lieu.ville.nom }}</td>
                    <td class="text-center">{% if lieu.latitude %} {{ lieu.latitude }} {% else %} - {% endif %}</td>
                    <td class="text-center">{% if lieu.longitude %} {{ lieu.longitude }}  {% else %} - {% endif %}</td>
                    <td class="d-flex flex-row-reverse">
                        <button type="button" class="btn btn-danger btn_supprimer" data-id="{{ lieu.getId() }}">
                            Supprimer
                        </button>
                        <a href="{{ path('lieux_form', {'id' : lieu.getId()}) }}" type="button" class="btn btn-primary btn_modifier mr-2" data-id="{{ lieu.getId() }}">
                            Modifier
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>


        $( document ).ready(function() {
            $datatable = $("#datatable_lieux").DataTable();

            $datatable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var data = this.node();
                $(data).find('.btn_supprimer').each(function() {
                    $(this).click(function() {
                        let url = "{{ path('lieux_delete') }}"
                        url += "/" + $(this).data("id");
                        let btn = $(this);
                        if (confirm("Etes-vous sûr de vouloir supprimer le lieu ?")) {
                            $.ajax({
                                url: url,
                                method: "POST",
                                success: function (result) {
                                    if (result.is_ok) {
                                        $datatable.row(btn.closest("tr")).remove().draw()
                                        $.notify(result.message, {className: "success"});
                                    } else {
                                        $.notify(result.message, {className: "error"});
                                    }
                                },
                            });
                        }
                    });
                });
            });

        })

    </script>
{% endblock %}